# Dependencies
node_modules/

# Build output
dist/
out/
bin/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Electron Forge
.webpack/
.vite/
